.Normal
{
	color:#B2B2B2;
}
.Unique
{
	color:#FFD700;
}
.Vintage
{
	color:#476291;
}
.Genuine
{
	color:#4D7455;
}
.Strange
{
	color:#CF6A32;
}
.Unusual
{
	color:#8650AC;
}
.Haunted
{
	color:#38F3AB;
}
.Community
{
	color:#70B04A;
}
.Self-Made
{
	color:#70B04A;
}
.Valve
{
	color:#A50F79;
}
.Collector
{
    color:#AA0000;
}
