{% extends "main.html" %}

{% block content %}
<div class="block">
    <h1>500 - Internal Server Error</h1>

    <p>Well, that wasn't supposed to happen. Maybe try again? If it still doesn't work <a href="mailto:TODO">email me</a> or leave a message on my <a href="TODO">steam profile</a>.</p>

    <p>Let me know the url of the page, where you were beforehand, and what you were doing. If you were submitting an item, the more details you can give me about the items being submitted the better (paints, particles, "I switched from genuine rarity to unique to strange", anything of the sort).</p>

    <p>Also if you were logged in, you still are despite the sign-in button being back there again. Just move to a different page. Sorry for the confusion.</p>
</div>
{% endblock %}
