{% extends "main.html" %}

{% block content %}
<div class="block">

<h1 style="text-align:center">Contest Rules</h1>

<h2 style="text-align:center">Overview</h2>
<p>At the beginning of the month (should a contest be ran), a theme will be posted on the front page, as well as listed on the awards page. At this point, users have one week to submit items relating to this theme. At the end of the month, the highest rated item submitted will be the winner and receive a prize.</p>

<h2 style="text-align:center">Rules</h2>
<ul>
    <li>All contest submissions must be submitted under a steam account. Anonymous submissions will not be accepted.</li>
    <li>All contest submissions must have the contest theme as one of the keywords.</li>
    <li>You may submit multiple contest entries.</li>
    <li>Items must be submitted no later than the 7th of the month. The server's date/time are listed on the footer of every page as a reference.</li>
    <li>In the event of a tie, I will personally decide on a winner. Tough luck other person.</li>
    <li>The winner will be checked when I get the chance to look at the current votes. As such there is no formal time the votes will be cutoff.</li>
    <li>I have the right to disqualify an item which I do not feel fits the theme.</li>
</ul>

<h2 style="text-align:center">Prizes</h2>
<p>The winner of the contest will be given a prize. The standard prize will be one hat. However, in some cases a different prize may be used. The prize will be posted on the front page with the topic at the start of the month.</p>
<p>Upon winning the contest I will send you a friend request so that I can open a trade request with you. Prizes are <strong>NOT</strong> given via giftwrap. (That costs money!) Please try to be able to receive the trade in a timely manner. In the event that you either do not wish to claim the prize or want it to be given to a different account, get in touch with me via the winning account so I know what to do with the prize.</p>
<p>Lastly my Steam profile can be found: <a href="http://steamcommunity.com/id/dr_dos/">here</a>.</p>
</div>
{% endblock %}