{% extends "main.html" %}

{% block scripts %}
<style>
.block
{
    text-align:center;
}
</style>
{% endblock %}

{% block content %}
<div class="block">

<h1>Credits</h1>
There are some people out there, who have been a tremendous help in making the site what it is today. While nearly all the code on the site is my own, there are plenty of others who equally deserve credit</p>

<h2><a href="#">Ardy</a></h2>
For initial support on the site's design and item creation process. Without him you'd have had a very ugly item creation page.

<h2><a href="#">Eevee</a></h2>
For making me realize that there are far better ways to make a website than PHP.

<h2><a href="http://wiki.teamfortress.com/">The Team Fortress 2 Wiki</a></h2>
For their continued dedication to ensuring accurate and useful data as well as the graphics for a lot of items. Without them there simply would not be a paint or styles feature on this site without their hard work.

<h2><a href="#">Cafe of Broken Dreams</a></h2>
For their considerable input on site design, and continued support of the site. Without them <s>I'd be playing on much better servers with much better maps</s> the design wouldn't be what it is.

<h2><a href="#">The Something Awful Goons</a></h2>
For their initial interest in the site and continued suggestions. Without them <s>I'd be playing on Cafe</s> there'd be a much uglier paint selection menu.

<h2><a href="http://tf2b.com/">TF2B</a></h2>
For their excellent backpack site, along with the flat images of particles. Without them unusual items just wouldn't look the same.

<h2><a href="#">JoshuaC</a></h2>
For his graphic design abilities. Without him we wouldn't have icons for pda/hat/misc/action slot tokens that get used all around the site. Buy a Watchtower stamp/filter for him!

<h2><a href="http://hertzen.com/">Niklas Von Hertzem</a></h2>
For the lovely html2canvas library!

<h2><a href="http://valvesoftware.com/">Valve</a></h2>
For making this game to begin with. Without them the site wouldn't exist.

<h2><a href="#">You</a></h2>
For your <s>3500</s> <s>21,000</s> 209,000 plus submissions.
</div>
{% endblock %}
