{% extends "main.html" %}

{% block title %}
 - Profile
{% endblock %}

{% block scripts %}
<style>
#comments   
{
    width:620px;
    margin:auto;
    background:#38332C;
    border-radius:6px;
    padding:8px;
}

#comments td:nth-child(odd)
{
    width:75%;
    text-align:left;
}

#comments td:nth-child(even)
{
    width:25%;
    text-align:right;
}
</style>
{% endblock %}

{% block content %}
<div class="block" style="background-color:#2A2725">
<div style="text-align:center">
<div id="itemFrame" style="width:620px;height:150px;background:#38332C;border-radius:6px;display:inline-block">
        
        <div style="margin-top:10px;margin-left:10px;">
        <div style="width:128px;display:table-cell;height:128px;margin-left:10px;{% if stats.admin %}background-image:url('/assets/images/particles/Community%20Sparkle.png');background-repeat:no-repeat;{% endif %}">
            <img src="{{stats.avatar}}" style="margin-left:32px;margin-top:32px">
        </div>
    
        <div style="width:471px;display:table-cell;text-align:center;vertical-align:middle;">
            <span class="tf2{% if stats.admin %} Community{%else%} Strange{%endif%}">{{stats.rank}} {{stats.name}}</span>
            <br>
            <span class="tf2b">
                Points: {{stats.points}}<br>
                Total Submissions: {{stats.submissions}}<br>
                Submissions Today: {{stats.today}} / {{stats.max}}<br>
                <a href="/browse-{{stats.steamID}}">Submissions</a> &bull; <a href="{{stats.profile}}">Steam Profile</a> &bull; <a href="http://tf2b.com/tf2/{{stats.steamID}}">Backpack</a>{% comment %} &bull; <a href="">Wishlist</a>{%endcomment%}
            </span>
        </div>
        </div>
        
</div>
</div>
<br>
{% if you %}
    <div style="margin:auto;text-align:center;">
        <span class="tf2 Strange">Latest Comments</span><br>
        <table id="comments">
        {% for comment in comments %}
        <tr>
            <td><a href="/view-{{comment.itemID}}">{{comment.name}}</a></td>
            <td>{{comment.timestamp|date:"M d, Y"}}</td>
        </tr>
        {% endfor %}
        </table>
        
        <a class="tf2" href="?cpage={{prev}}">Newer</a> <a class="tf2" href="?cpage={{next}}">Older</a>
    </div>
    <br>
    <form method="POST">
    {% csrf_token %}
    <div style="margin:auto;text-align:center;">
        <div style="display:inline-block"><img src="/assets/images/nav/latest.png"></div>
        <div style="display:inline-block;vertical-align:top">
            <span class="tf2">Change Your Name</span><br>
            <input name="name" maxlength="32"> <input class="tf2button" type="submit" value="Submit">
        </div>
    </div>
    </form>
{% endif %}
</div>
{% endblock %}